<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>

    fuck you out there constructor(params) {
        
    }
    <div id="app">
        <div v-on:click="vote()">
            [[ producer_list ]]

            <div v-for="(item, index) in producer_list" :key="index">
                <p>[[item]]</p>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var app = new Vue({
            delimiters: ["[[", "]]"],
            el: '#app',
            data: {
                producer_list: JSON.parse('{{producer_list}}'.replaceAll("&quot;","\"")),
            },
            methods: {
                vote: function() {
                     console.log(this.message);
                }
            },
        });
    </script>

</body>
</html>